@import "bootstrap";

.background {
  display: flex;
  flex-direction: column;
  justify-content: center!important;
  align-items: center;
}

.background-image {
  background-position: center;
  height: 700px;
  width: auto;
} 

.background h1 {
  color: black!important;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
  
.background p {
  color: black!important;
  font-size: 1.5rem;
  text-align: center;
  max-width: 30rem;
  margin: 0;
}
  
.footer {
  color: black !important;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
  position: relative !important;
  bottom: 0 !important;
  background-color: #9869 !important;
  font-family: 'Playfair Display' !important;
}


.card {
  // background: linear-gradient(to right, #9dc183 0%, #f1dca1 100%) !important;
  // background: linear-gradient(to right, #bfab67 14%, #9869 113%);
  background: linear-gradient(to right,  #9869 14%, #9dc183 113%);
  font-family: 'Playfair Display';
  // display: grid !important;
  grid-template-columns: 50% 50% !important;
  // grid-row: auto auto;
  grid-column-gap: 20px;
  // grid-row-gap: 30px;
  flex: 1;
  border-radius: 10px !important;
  // background-clip: padding-box;
  // margin: 20px !important;
  padding: 15px !important;
}

.index-cards {
  display: grid;
  grid-row: auto auto;
  grid-column-end: auto;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding-top: 30px;
  padding-left: 12%;
  padding-bottom: 30px;
}

.index-container {
  max-width:100% !important;
  padding-top: 20px !important;
}

.index-image {
  height: 300px !important;
  border-radius: 10px !important;
}

.index-link {
  text-decoration: none !important;
  color: white !important;
}

.index-name {
  color: white;
}

.index-title {
  color: white !important;
}

.about-cards {
  margin: 30px auto !important;
  height: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  display: flex !important;
  // display: grid !important;
  // grid-template-columns: 50% 50% !important;
  // grid-row: auto auto;
  // grid-column-gap: 20px;
  // grid-row-gap: 30px;
  // flex: 1;
  border-radius: 10px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  margin: 11px !important;
  // margin: 20px !important;
  // padding: 20px !important;
  background-clip: padding-box;
  grid-gap: 50px;
}

.container {
  max-width:100%;
  padding-top: 20px;
}

div.card-body {
  padding: 10px
}

.about-images {
  height: 300px !important;
  border-radius: 10px !important;
}

.about-name {
  text-align: left !important;
  color: white !important;
  font-family: 'Playfair Display';
  font-size: x-large
}

.mb-2 {
  text-align: right;
  font-family: 'Playfair Display';
  font-size: large;
  color: black !important;
}

.about-toggle-button {
  font-family: 'Playfair Display';
  background-color: #9869 !important;
  border-radius: 10px !important;
  color:white
}

.about-toggle-button:hover {
  background-color: white !important;
}

.container {
  box-sizing: border-box;
  width: fit-content !important;
  overflow-x: hidden;
  height: auto !important;
}

.about-header {
  font-family: 'Playfair Display';
}

.about-body {
  font-family: 'Lora';
}

.about-button {
  display: flex;
  margin: 20px auto !important;
  position: relative;
}

.about-link {
  text-decoration: none;
  color: white;
}

.about-link:hover {
  color: black;
}

.nav-link.active,
.show > .nav-link {
  color: var(--#{$prefix}nav-pills-link-active-color);
  @include gradient-bg(var(--#{$prefix}nav-pills-link-active-bg));
}

.nav-link {
  color: black !important;
  font-family: 'Playfair Display' !important;

}
.nav-link.active {
  background: linear-gradient(to right, #9dc183 0%, #f1dca1 100%) !important;
  color: white !important
}

.nav-pills{
  color:beige !important
}

.home-box {
  margin: 30px
}

.not-found-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 20% 55% !important;
  z-index: -1;
  text-align: center;
  color:white
}

.carousel-image {
  height: 700px !important;
  width: 100% !important;
}
.carousel-inner {
  // margin-bottom: 100px !important;
  background-color: #9869 
}

.carousel-caption {
    font-size: larger;
    background: #9869;
}

ul.nav.nav-pills.nav-fill {
  background-color: #9869 !important;
}


h3, p {
  font-family: 'Playfair Display'
}

.carousel-caption {
  font-size:larger;
  background: #9869;
}

.footer-link {
  text-decoration: none;
  color: white;
}
.footer-link:hover {
  color: #9869;
}

.sign-up-page{
  display: flex;
  justify-content: center;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1557652696-0fd8a35b0d62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position-y: 30%;
  color: white;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 50px;
}

a {
  color: white ;
  text-decoration: none !important;
}

a:hover {
  color: black;
}

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 70%;
  color: white;
}
.login-title{
  display: flex;
  justify-content: center;
  font-size: 50px;
}
a {
  color: #e9ecef;
  text-decoration: none;
}

.reset-password{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 70%;
  color: white;
}

.show-image {
  height: 700px !important;
  width: 600px !important;
  margin-left: 40px;
}

.show-info {
  margin-left: 40px;
  margin-right: 50px;
  font-size:larger;
  font-family: 'Playfair Display';
}

.index-title {
  text-align:center !important;
}

.show-page {
  background: #9869 !important;
  display:flex;
  justify-content:space-around;
}

.show-content {
  color: white;
}

h2.show-name {
  font-size: x-large;
}

.show-buttons {
  
}